<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表展示</title>
    <script type="text/javascript" src="../plugins/angular/angular.min.js"></script>
</head>
<body ng-app="demo" ng-controller="demoController">
    <ul>
        <li ng-repeat="item in list">{{item}}</li>
    </ul>
    <hr/>
    <table border="1">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        <tr ng-repeat="user in userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
        </tr>
    </table>
<script type="text/javascript">
    angular.module("demo",[]).controller("demoController", function ($scope) {
        $scope.list = ['javaEE', '前端', '大数据', 'Python'];

        $scope.userList = [
            {id:100, name:"张三",age:12},
            {id:101, name:"李四",age:82},
            {id:102, name:"王五",age:42}
        ]
    })
</script>
</body>
</html>